/* poppins font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* inter font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Lobstar font  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Global style  */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  margin: auto;
}
.btn {
  background: #17b5ba;
  color: #fff;
  border: none;
  padding: 16px 12px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h5 {
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 65px;
  font-weight: 700;
}
h2 {
  font-size: 45px;
  font-weight: 700;
}
h5 {
  font-size: 24px;
  font-weight: 700;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;

}

/* HeroSection style */

.herosection {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent, #121212),
    url("./images/donation5.jpg");
  color: white;
}

.herosection h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}
.herosection p {
  position: absolute;
  width: 30%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}
.herosection button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 16px;

}

/* Donate section style */

.donate_section {
  height: 80vh;
  background-color: #fff;
  position: relative;
}
.donate_section h2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #121212;
  text-align: center;
}

.donate_section p {
  position: absolute;
  width: 40%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #707070;
  letter-spacing: 2px;
  text-align: center;
}

.donate_section .custom {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom input {
  width: 40vw;
  height: 30px;
  border: 0;
  border-bottom: 2px solid #dadada;
  outline: 0;
  font-size: 18px;
  color: #111;
  padding: 5px 0px;
  background: transparent;
  text-align: center;
}

.custom button {
  position: absolute;
  top: 80px;
}

.donate_section .flexbox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  justify-items: center;
}

.donate_section .flex_item {
  background: #fafafa;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 123px;
  margin: 22px;
  color: #17b5ba;
  font-size:30px;
  border-radius: 5px;
  font-weight: 700;
}

.active {
  background-color: #17b4ba28 !important;
  color: #17b5ba;
  border: 3px solid #17b5ba;
}

/* donation plan style */

.donate_plan {
  height: 60vh;
  background-color: #fff;
  position: relative;
}
.donate_plan h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #121212;
  letter-spacing: 2px;
  text-align: center;
}
.donate_plan p {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #707070;
  letter-spacing: 2px;
  text-align: center;
}
.donate_plan .flexbox {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  list-style: none;
  display: flex;
  gap: 24px;
}

.donate_plan .flex_item {
  box-sizing: border-box;
  width: 360px;
  height: 352px;
  color: #000;
  padding: 60px 20px;
  text-align: left;
  border-radius: 5px;
  font-weight: 700;
  position: relative;
}

.donate_plan .flex_item p {
  position: absolute;
  width: 80%;;
  top: 60%;
  left: 45%;
  text-align: left;
  font-size: 16px;
}
.col1 {
  background-color: #4f9da620 !important;
}
.col2 {
  background-color: #ff595920 !important;
}
.col3 {
  background-color: #fff4d6 !important;
}


/* fundraise section style */
.fundraise_section{
  height: 80vh;
  display: flex;
  position: relative;
}

.fundraise_section p{
  position: absolute;
  top: 18%;
  left: 20%;
  font-size: 20px;
  font-weight: 600;
}

.fundraise_section h2{
  position: absolute;
  top: 25%;
  left: 20%;
}

.fundraise_section .flexbox {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;  
  
  /* margin-left:500px; */
}

.fundraise_section .flex_item {
  position: relative;
  box-sizing: border-box;
  padding: 250px 180px;
  width: 136px;
  height: 123px;
  margin: 15px;
  color: #000;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  border-bottom: 5px solid #17b5ba;
}

.fundraise_section .flexbox img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 15px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.fundraise_section .flexbox h5{
  width: 90%;
  position: absolute;
  top: 52%;
  left: 5%;
  text-align: left;
}
.fundraise_section .flexbox p{
  text-align: left;
  width: 95%;
  position: absolute;
  top:65%;
  left: 5%;
  font-weight: 400;
}
.fundraise_section .flexbox h6{
  text-align: left;
  font-size: 18px;
  width: 100%;
  position: absolute;
  top: 92%;
  left: 5%;
}


/* Newsletter section style */

.subscription_section{
  height: 60vh;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px 0px;
}

.subscription_section h2{
  position: absolute; 
  margin-bottom: 400px;
}

.subscription_section p{
  margin-bottom: 250px;
  color: #707070;

}

.subscription_section form{
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 250px;
  background-color: #4f9da620;
  border-radius: 10px;
}

.subscription_section input{
  width: 15vw;
  height:50px;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
  color: #111;
  padding: 5px 0px;
  background: #fff;
  border:0;
  text-align: left;
  box-sizing: border-box;
  padding: 20px;
}

.subscription_section button{
  height: 50px;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  padding: 10px;
}

/* footer style  */


.footer{
  height: 20vh;
  width: 100%;
  background-color: #0B0D17;
  color: #fff;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_footer{
  margin: 0px 300px;
  width: 40%;
  text-align: center;
}
.footer p{
  font-size:14px;
}
.footer span{
  font-family: 'Lobster', cursive;
  color: #17b5ba;
  font-size: 36px;
  letter-spacing: 2px;
}